<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Counter</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="../bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/Counter.js"></script>
    <script src="js/controllers/CountersCtrl.js"></script>
    <script src="js/controllers/CounterCtrl.js"></script>
</head>

<body ng-app="counterApp">
    <header></header>

    <section id="main" class="container" ng-controller="CountersCtrl">
        <p>
            <span class="heading">Angular Counters</span>
            <button ng-click="addCounter()">Add Counter</button>
        </p>

        <div ng-repeat="counter in counters" ng-controller="CounterCtrl">
            <div>
                <div>counter value: {{counter.getCount()}}</div>
                <button ng-click="incrementCounter()">+</button>
                <button ng-click="decrementCounter()">-</button>
                <button ng-click="removeCounter($index)">Remove Counter</button>
            </div>
        </div>
    </section>

    <footer></footer>
</body>

</html>
